@import url(assets/images/icon/icon.css);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
label {
  display: block;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: 600;
}
* {
  outline: none;
  box-sizing: border-box;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  display: inline-block;
  text-decoration: none;
  font: inherit;
}
button {
  cursor: pointer;
  position: relative;
}
input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  font: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-family: "Inter", sans-serif;
  background: #111215;
}
.G-flex {
  display: flex;
}
.G-inline-flex {
  display: inline-flex;
}
.G-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.G-column-center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.G-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.G-justify-center {
  justify-content: center;
  display: flex;
}
.G-justify-between {
  justify-content: space-between;
  display: flex;
}
.G-justify-around {
  justify-content: space-around;
  display: flex;
}
.G-justify-end {
  justify-content: flex-end;
  display: flex;
}
.G-justify-start {
  justify-content: flex-start;
  display: flex;
}
.G-align-center {
  align-items: center;
  display: flex;
}
.G-align-start {
  align-items: flex-start;
  display: flex;
}
.G-align-end {
  align-items: flex-end;
  display: flex;
}
.G-flex-column {
  flex-direction: column;
  display: flex;
}
.G-flex-wrap {
  flex-wrap: wrap;
  display: flex;
}
/* GENERAL STYLE */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1188px;
  width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}

.text-wrap {
  display: block;
}
.desktop-text-wrap {
  display: block;
}
.mobile-block {
  display: none;
}
.black-btn {
  gap: 12px;
  padding: 4px 23px 4px 7px;
  border-radius: 6px;
  display: flex;
  height: 52px;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  background: #1b1c1f;
}
.black-btn:hover {
  background: #2d2e31;
}
.black-btn:hover .black-btn-bg {
  background: #454649;
}
.black-btn:hover .black-btn-bg i {
  background: #dce8ff;
}
.black-btn:hover .black-btn-text {
  color: #dce8ff;
}
.black-btn-bg {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 4px;
  transition: 0.4s;
  background: #2d2e30;
}
.icon-stars {
  font-size: 22px;
  background: #dce8ff;
  transition: 0.4s;
}
.black-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #dce8ff;
  transition: 0.4s;
}
.menu-list-link {
  transition: 0.4s;
}
.menu-list-link:hover {
  opacity: 0.7;
}
.white-btn {
  gap: 12px;
  padding: 4px 23px 4px 7px;
  border-radius: 6px;
  display: flex;
  height: 52px;
  background: #dce8ff;
  align-items: center;
  transition: 0.4s;
}
.white-btn-bg {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 4px;
  transition: 0.4s;

  background: #ffffff80;
}
.white-btn .icon-stars {
  font-size: 20px;
  background: #121417;
  transition: 0.4s;
}
.white-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #121417;
  transition: 0.4s;
}
.white-btn:hover {
  background: #2d2e31;
}
.white-btn:hover .white-btn-bg {
  background: #454649;
}
.white-btn:hover .icon-stars {
  background: #dce8ff;
}
.white-btn:hover .white-btn-text {
  color: #dce8ff;
}
.white-btn-check {
  gap: 12px;
  padding: 11px;
  border-radius: 6px;
  height: 40px;
  background: #dce8ff;
  align-items: center;
  width: 100%;
  justify-content: center;
  max-width: 288px;
}
.icon-check {
  background: #1b1c1f;
  font-size: 15px;
}
.white-check-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c1f;
}
.section {
  margin-top: 120px;
}
.section-titles h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #fafdff;
}
.section-titles p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  margin-top: 16px;
  color: #a6afbf;
}
.section-tag {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #a6afbf;
  text-align: center;
  padding: 0 0 10px 0;
  display: block;
}
.block-cnt {
  margin-top: 48px;
}
.block-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #fafdff;
}
.block-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #a6afbf;
  margin-top: 10px;
}
.text-primary {
  color: #dce8ff;
}

.fade-left,
.fade-right,
.fade-top,
.fade-bottom {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}
.fade-left {
  transform: translateX(-60px);
}
.fade-right {
  transform: translateX(60px);
}
.fade-top {
  transform: translateY(-60px);
}
.fade-bottom {
  transform: translateY(60px);
}
.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* HEADER STYLE */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 10px;
  z-index: 10;
  transition: 0.4s;
}
.header.muved {
  top: 5px;
}
.header-body {
  justify-content: space-between;
  align-items: center;
  background: #1b1c1f;
  border-radius: 12px;
  padding: 10px;
  z-index: 2;
  position: relative;
}
.header-logo {
  margin-left: 8px;
}
.header-body::after {
  content: "";
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 12px;
}
.header-actions {
  gap: 12px;
}
.btn-login {
  gap: 8px;
  padding: 4px 20px 4px 4px;
  background: #242528;
  border-radius: 6px;
  height: 44px;
  transition: 0.4s;
}
.login-btn-bg {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
  border-radius: 4px;
  background: #2d2e30;
  transition: 0.4s;
}
.icon-person {
  font-size: 15px;
  background: #dce8ff;
  transition: 0.4s;
}
.login-btn-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #dce8ff;
  transition: 0.4s;
}
.btn-login:hover {
  background: #2d2e31;
}
.btn-login:hover .login-btn-bg {
  background: #454649;
}
.btn-login:hover .login-btn-bg i {
  background: #dce8ff;
}
.btn-login:hover .login-btn-text {
  color: #dce8ff;
}
.btn-register {
  gap: 8px;
  padding: 4px 20px 4px 4px;
  background: #dce8ff;
  border-radius: 6px;
  height: 44px;
  transition: 0.4s;
}
.register-btn-bg {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
  border-radius: 4px;
  background: #ffffff80;
  transition: 0.4s;
}
.icon-person-edit {
  font-size: 16px;
  background: #121417;
  transition: 0.4s;
}
.register-btn-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #121417;
  transition: 0.4s;
}
.btn-register:hover {
  background: #2d2e31;
}
.btn-register:hover .register-btn-bg {
  background: #454649;
}
.btn-register:hover .register-btn-bg i {
  background: #dce8ff;
}
.btn-register:hover .register-btn-text {
  color: #dce8ff;
}
.menu ul {
  gap: 30px;
  display: flex;
  align-items: center;
}
.menu ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #dce8ff;
}
.burger-bg {
  display: none;
}
.menu-mobile-actions {
  display: none;
}
.menu-bg {
  display: none;
}

.hero-section {
  position: relative;
  padding: 152px 0 0;
  overflow: hidden;
  z-index: 2;
  min-height: 880px;
}
.hero-body {
  position: relative;
  z-index: 2;
}
.l-hero-clue {
  padding: 14px 19px 14px 14px;
  background: linear-gradient(
    105.97deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border-radius: 10px;
  border: 1.2px solid #c2ccf61f;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  max-width: 225px;
  width: 100%;
  font-weight: 400;
  font-size: 14.11px;
  line-height: 130%;
  color: #a6afbf;
  position: absolute;
  top: 598px;
  left: 364px;
  z-index: 2;
}
.l-hero-clue strong {
  color: #fafdff;
}
.l-hero-clue-mobile {
    padding:11px;
  background: linear-gradient(
    105.97deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border-radius: 8px;
  border: 1.2px solid #c2ccf61f;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  max-width: 199px;
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  color: #a6afbf;
  position: absolute;
  top: 340px;
  right: 14px;
  z-index: 2;
  display: none;
}
.l-hero-clue-mobile strong{
    color: #fafdff;

}
.hero-lamp {
  position: absolute;
  top: -110px;
  left: 178px;
  max-width: 153px;
  width: 100%;
}
.hero-cloud {
  position: absolute;
  top: 75px;
  right: 43px;
  max-width: 365px;
  width: 100%;
}
.hero-armchair {
  position: absolute;
  top: 195px;
  left: 147px;
  max-width: 253px;
  width: 100%;
}
.hero-table {
  position: absolute;
  top: 506px;
  left: 598px;
  max-width: 195px;
  width: 100%;
  z-index: 2;
}

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero-bg picture {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-bg img {
  width: 100%;
  height: 100%;
}

.hero-titles {
  position: relative;
  z-index: 3;
  margin: 0 auto;
}

.hero-titles h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #fafdff;
}
.hero-titles p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  margin-top: 20px;
  color: #a6afbf;
}

.hero-btn {
  margin: 32px auto 0;
  max-width: max-content;
}
.l-hero-images {
  max-width: 1304px;
  width: 100%;
  margin: 41px auto 0;
  position: relative;
  z-index: 2;
  transition: 1s;
  min-height: 343px;
}

.l-hero-img {
  position: absolute;
  transition: 0.4s;
}
.l-hero-img p {
  position: absolute;
  padding: 7.5px 15px;
  background: linear-gradient(
    105.97deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1.2px solid #c2ccf61f;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  font-weight: 600;
  font-size: 14.11px;
  line-height: 130%;
  color: #fafdff;
  border-radius: 9px;
  top: 26px;
  left: -5px;
  transition: 0.4s;
}

.l-hero-img:nth-child(1) {
  max-width: 184px;
  width: 100%;
  left: 130px;
  top: 79px;
}
.l-hero-img:nth-child(2) {
  max-width: 278px;
  width: 100%;
  left: 220px;
  top: 32px;
}

.l-hero-img:nth-child(3) {
  max-width: 343px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.l-hero-img:nth-child(4) {
  max-width: 277px;
  width: 100%;
  right: 222px;
  top: 32px;
  z-index: -1;
}
.l-hero-img:nth-child(5) {
  max-width: 184px;
  width: 100%;
  right: 132px;
  top: 79px;
  z-index: -2;
}
.hero-polygon {
  display: none;
}

@media (any-hover: hover) {
  .l-hero-images:hover .l-hero-img:nth-child(2) {
    left: 125px;
  }
  .l-hero-images:hover .l-hero-img:nth-child(1) {
    left: -64px;
  }
  .l-hero-images:hover .l-hero-img:nth-child(4) {
    right: 120px;
  }
  .l-hero-images:hover .l-hero-img:nth-child(5) {
    right: -72px;
  }
  .l-hero-images:hover .l-hero-img p {
    left: 27px;
  }
}

.l-possibilities-cnt {
  gap: 16px;
}
.l-possibilities-column {
  gap: 16px;
}
.l-possibilities-big-item {
  max-width: 655px;
  width: 100%;
  background: linear-gradient(
    105.97deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  padding: 30px;
  border: 1px solid #c2ccf61f;
  border-radius: 20px;
}
.l-possibilities-media {
  margin-top: 41px;
}
.l-possibilities-item-header {
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.l-possibilities-item-header span {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #fafdff4d;
}
.l-possibilities-item-header p {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #fafdff4d;
  opacity: 0.6;
  display: flex;
}
.l-possibilities-item-header p strong {
  color: #a6afbf;
}
.l-possibilities-media img {
  border-radius: 20px;
}
.l-possibilities-big-texts {
  margin-top: 41px;
}
.l-possibilities-small-wrapper {
  max-width: 489px;
  gap: 16px;
  width: 100%;
}
.l-possibilities-small-item {
  max-width: 349px;
  width: 100%;
  background: #1b1c1f;
  border: 1px solid #c2ccf61f;
  border-radius: 20px;
  min-height: 222px;
  position: relative;
  z-index: 2;
  margin-top: 61px;
}
.l-possibilities-small-item:nth-child(2) {
  margin-top: unset;
  margin-left: auto;
}
.l-possibilities-armchair {
  position: absolute;
  left: 0;
  top: 16px;
}
.l-possibilities-small-texts {
  max-width: 130px;
  margin-left: 194px;
  margin-top: 90px;
}
.l-possibilities-small-texts .block-text {
  margin-top: 0;
}
.l-possibilities-average-item {
  background: linear-gradient(
    105.97deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #c2ccf61f;
  border-radius: 20px;
  padding: 30px;
  max-width: 489px;
  width: 100%;
  min-height: 283px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.l-possibilities-table {
  position: absolute;
  top: 50px;
  right: -115px;
  max-width: 323px;
  width: 100%;
  height: 231px;
}
.l-possibilities-average-texts {
  margin-top: auto;
  max-width: 240px;
  width: 100%;
}
.l-possibilities-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.l-possibilities-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-possibilities-another-texts {
  margin-top: auto;
  max-width: 410px;
}

.l-possibilities-gradient-item {
  max-width: 349px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  padding: 28px 30px;
  background: linear-gradient(
    104.53deg,
    rgba(0, 0, 0, 0.2) 4.14%,
    rgba(0, 0, 0, 0.1) 99.25%
  );
  margin-left: auto;
}
.l-possibilities-gradient-item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  padding: 1.5px;
  background: linear-gradient(180deg, #055ab6 0%, #201d66 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.l-possibilities-gradient-texts {
  max-width: 234px;
  width: 100%;
}
.l-possibilities-gradient-texts .block-text {
  margin-top: 10px;
}
.l-possibilities-btn {
  margin-top: 20px;
  max-width: max-content;
}
.l-statistics-cnt {
  gap: 26px;
  justify-content: center;
}
.l-statistics-big-item {
  max-width: 535px;
  width: 100%;
  min-height: 535px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 30px;
}
.l-statistics-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.l-statistics-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-statistics-texts {
  position: relative;
  z-index: 2;
  gap: 10px;
}
.l-statistics-big-texts {
  margin-top: auto;
}
.l-statistics-texts h3 {
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #dce8ff;
}
.l-statistics-texts p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #a6afbf;
}
.l-statistics-small-item {
  max-width: 286px;
  width: 100%;
  gap: 20px;
  height: max-content;
}
.l-statistics-table {
    max-width: 200px;
    width: 100%;
    position: absolute;
    top: unset;
    bottom: 0;
    left: 90px;
}
.statistics-auto {
  margin-top: auto;
}
.l-statistics-small-media {
  max-width: 286px;
  width: 100%;
  min-height: 275px;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    105.97deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #c2ccf61f;
  overflow: hidden;
  padding: 25px 30px;
  border-radius: 10px;
}
.l-statistics-small-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.l-statistics-small-bg picture {
  width: 100%;
  height: 100%;
}
.l-statistics-small-picture {
  display: none;
}
.l-statistics-small-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-statistics-small-media .block-text {
  margin-top: 0;
}
.l-process-slide {
  padding: 0 24px;
  position: relative;
  z-index: 2;
  min-height: 216px;
}
.l-process-slide span {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #a6afbf;
}
.l-process-slide-texts {
  margin-top: auto;
}
.l-process-slide::after {
  content: "";
  background: #c2ccf61f;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 8px;
}
.l-process-slide::before {
  content: "";
  background: #dce8ff;
  width: 2px;
  height: 72px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px #a1d8ee80;
}
.l-process-swiper .swiper-slide:nth-child(2) .l-process-slide::before {
  top: 50%;
  transform: translateY(-50%);
}

.l-process-swiper .swiper-slide:nth-child(3) .l-process-slide::before {
  top: unset;
  bottom: 0;
}

.k-trust-body {
  padding: 60px 0 0;
  position: relative;
  z-index: 2;
  border: 1px solid #c2ccf61f;
  border-radius: 16px;
  min-height: 609px;
  overflow: hidden;
}
.k-trust-mobile-picture{
  display: none;
}

.k-trust-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.k-trust-bg picture {
  width: 100%;
  height: 100%;
  display: flex;
}
.k-trust-bg picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  z-index: 4;
  overflow: hidden;
  margin-top: 120px;
  padding: 20px 0 0;
}
.reviews-bg {
  position: absolute;
  right: 0;
  top: -100px;
  max-width: 600px;
  z-index: -1;
}

.reviews-swiper {
  max-width: 764px;
  width: 100%;
  position: relative;
}
.k-reviews-titles .section-clue {
  padding: 0 0 8px 0;
}
.l-reviews-swiper {
  padding: 0 0 10px 0 ;
  max-height: 449px;
}
.reviews-swiper::after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  height: 180px;
  width: 1000px;
  background-image: url("assets/images/blur.png");
  z-index: 2;
}
.reviews-swiper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 180px;
  width: 1000px;
  background-image: url("assets/images/blur2.png");
  z-index: 2;
}
.k-reviews-left-item {
  max-width: 386px;
  width: 100%;
  height: max-content;
  position: relative;
  min-height: 449px;
  border-radius: 20px;
  background: #1b1c1f;
  box-shadow: 0px 0px 16px 0px #00000029;
  border: 1px solid #c2ccf61f;
  overflow: hidden;
}
.reviews-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(
    105.61deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  box-shadow: 0px 0px 16px 0px rgba(99, 86, 254, 0.08);
  transition: 0.3s;
}
.reviews-left-info {
  padding: 20px 20px 25px 20px;
}
.reviews-author h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fafdff;
}
.reviews-author p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  color: #fafdff;

  opacity: 0.6;
}
.reviews-box {
  width: 100%;
  gap: 10px;
}
.reviews-left-img img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  height: auto;
}
.l-reviews-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #fafdff;
  opacity: 0.8;
  margin-top: 10px;
}
.reviews-item-img {
  flex: 0 0 124px;
  height: 124px;
  display: flex;
}
.face-reviews-left-img {
  display: flex;
}
.face-reviews-item {
  gap: 24px;
  background: #1b1c1f;
  border: 1px solid #c2ccf61f;
  box-shadow: 0px 0px 16px 0px #00000029;
  border-radius: 16px;
  padding: 16px;
}
.face-reviews-left-img img {
  object-fit: cover;
  border-radius: 12px;
}
.reviews-item-img img {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.reviews-pagination {
  display: none;
}
.reviews-mobile-item {
  display: none !important;
}
.reviews-titles p {
  margin-top: 10px;
}
.swiper-pagination {
  display: flex;
  position: initial !important;
  margin-top: 21px;
  align-items: center;
  justify-content: center;
  gap: 8px !important;
}
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: #fafdff !important;
  opacity: 0.2 !important;
  margin: 0 !important;
  transition: 0.3s;
  border-radius: 8px !important;
}
.swiper-pagination-bullet-active {
  width: 28px !important;
  height: 8px !important;
  background: #dce8ff !important;
  opacity: 1 !important;
  border-radius: 8px !important;
}
.l-reviews-titles p {
  margin-top: 8px;
}
.faq-items {
  gap: 10px;
}
.faq-item {
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #0000001f;
  background: #1b1c1f;
  padding: 10px 10px 10px 16px;
  cursor: pointer;
}
.faq-item-header {
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.faq-item-header.open i {
  transform: rotate(180deg);
}
.faq-item-header h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fafdff;
}
.faq-item-icon {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 12px 0px #0000001f;
  background: #1b1c1f;
  flex: 0 0 40px;
  border-radius: 6px;
}
.icon-arrow {
  font-size: 10px;
  background: #fafdff;
  transition: 0.4s;
}
.faq-sub-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #a6afbf;
  opacity: 0.6;
}
.submenu {
  display: none;
}
.footer {
  margin-top: 70px;
}
.footer-body {
  padding: 53px 0 80px 0;
  position: relative;
  z-index: 3;
}
.footer-blur {
  position: absolute;
  left: 0;
  top: 0;
}
.footer-blur img {
  height: 700px;
}
.footer-logo {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.footer-logo img {
  max-width: 705px;
  width: 100%;
  height: auto;
}
.footer-cnt {
  margin-top: 33px;
  position: relative;
  z-index: 2;
  min-height: 316px;
  background: #121316;
  border: 1px solid #c2ccf61f;
  border-radius: 16px;
  padding: 53px 36px;
  overflow: hidden;
}
.footer-grid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.footer-grid picture {
  width: 100%;
  height: 100%;
}
.footer-grid img {
  width: 100%;
  height: 100%;
}
.footer-btn {
  margin: 0 auto;
  max-width: max-content;
}
.footer-menu {
  margin: 105px auto 0;
}
.footer-menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-menu ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #fafdff;
}
.footer-policy {
  margin: 12px auto 0;
}
.footer-policy ul {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.footer-policy ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fafdff;
  opacity: 0.6;
  transition: 0.4s;
}
.footer-policy ul li a:hover {
  opacity: 0.9;
}
.footer-text {
  margin: 5px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fafdff;
  text-align: center;
  opacity: 0.6;
}

@media (max-width: 1441px) {
}

@media (max-width: 1200px) {
  .l-statistics-big-item {
    max-width: 340px;
  }
}

@media (max-width: 992px) {
  .reviews-mobile-item {
    display: block !important;
  }
  .k-reviews-left-item {
    display: none;
  }
  .reviews-swiper::after {
    display: none;
  }
  .reviews-swiper::before {
    display: none;
  }
  .reviews-item {
    flex-direction: column;
    min-height: 452px;
    padding: 0;
    gap: 0;
  }
  .face-reviews-item {
    flex-direction: column;
    min-height: 404px;
    padding: 0;
    gap: 0;
  }

  .reviews-swiper {
    max-width: 100%;
    max-height: 100%;
    overflow: unset !important;
    height: 100%;
  }
  .reviews-author h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .reviews-author p {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .reviews-icon {
    width: 28px;
    height: 28px;
  }
  .reviews-item-info {
    padding: 20px;
  }
  .l-reviews-item-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 130%;
  }
  .reviews-item-img {
    height: 240px;
  }
  .face-reviews-left-img img {
    width: 100%;
    height: 240px;
  }
  .burger-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12131687;
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
    border-radius: 6px;
  }
  .burger {
    width: 21px;
    gap: 3.5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 4;
  }
  .burger span {
    width: 16px;
    display: block;
    height: 2px;
    background: #dce8ff;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
  }
  .burger span::after {
    width: 2px;
    content: "";
    display: block;
    height: 2px;
    transition: 0.3s;
    background: #dce8ff;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 0;
  }
  .burger::after {
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    background: #dce8ff;
    transition: 0.3s;
    border-radius: 5px;
  }
  .burger::before {
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    background: #dce8ff;
    transition: 0.3s;
    border-radius: 5px;
  }
  .burger.active span {
    opacity: 0;
    visibility: hidden;
  }
  .burger.active::before {
    transform: rotate(-45deg);
    top: 6px;
    position: relative;
  }
  .burger.active::after {
    transform: rotate(45deg);
    bottom: 5px;
    position: relative;
  }
  .menu {
    position: fixed;
    left: 0;
    width: 100%;
    top: -100%;
    transition: 0.5s;
    z-index: 1;
  }
  .menu-bg {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(16px);
    position: fixed;
    left: 0;
    top: -100%;
    z-index: -1;
    display: flex;
    transition: 0.5s;
  }
  .menu.active {
    top: 78px;
  }
  .menu-bg.active {
    top: 0;
  }
  .menu-wrapper {
    margin: 0 14px 0 14px;
    padding: 22px 20px 20px 20px;
    background: #1b1c1f;
    box-shadow: 0px 0px 12px 0px #0000001f;
    border-radius: 10px;
    max-height: 70vh;
    overflow: auto;
  }
  .menu ul {
    flex-direction: column;
    gap: 38px;
  }
  .l-hero-img:nth-child(5) {
    display: none;
  }
  .l-hero-img:nth-child(1) {
    display: none;
  }
  .l-hero-img:nth-child(4) {
    right: 0;
  }
  .l-hero-img:nth-child(2) {
    left: 0;
  }
  .l-hero-img p {
    left: 26px;
  }
  .l-hero-clue {
    left: 12px;
  }
  .hero-table {
    left: unset;
    right: 40px;
  }
  .hero-lamp {
    left: 0;
  }
  .hero-armchair {
    left: 0;
  }
  .hero-cloud {
    right: 45px;
    max-width: 130px;
  }
  .l-possibilities-column {
    flex-direction: column;
  }
  .l-possibilities-big-item {
    max-width: 100%;
  }
  .l-possibilities-small-wrapper {
    max-width: 100%;
    align-items: center;
  }
  .l-possibilities-small-item {
    margin-top: unset;
  }
  .l-statistics-cnt {
    flex-direction: column;
    align-items: center;
  }
  .l-statistics-big-item {
    max-width: 535px;
  }
}

@media (max-width: 768px) {
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: flex;
  }

  .hero-titles h1 {
    font-size: 28px;
    line-height: 120%;
  }
  .hero-section {
    padding: 146px 0 0;
    min-height: 802px;
  }
  .l-possibilities-small-item {
    max-width: 100%;
  }
  .l-possibilities-average-item {
    max-width: 100%;
  }
  .l-possibilities-gradient-item {
    max-width: 100%;
  }
  .l-possibilities-gradient-item {
    flex-direction: column;
  }
  .l-statistics-small-item {
    max-width: 100%;
    align-items: center;
  }
  .l-statistics-small-media {
    max-width: 100%;
  }
  .l-statistics-table{
    left: unset;
    right: 0;
  }
}

@media (max-width: 576px) {
  .hero-titles h1 {
    font-size: 28px;
    line-height: 120%;
  }

  .hero-titles p {
    font-size: 18px;
    line-height: 130%;
    margin-top: 15px;
  }

  .hero-btn {
    margin: 32px auto 0;
  }
  .mobile-text-wrap {
    display: block;
  }
  .desktop-text-wrap {
    display: inline;
  }
  .header-actions a {
    display: none;
  }
  .header-logo {
    margin-left: unset;
  }
  .header-logo img {
    width: 44px;
    height: 44px;
    display: flex;
  }
  .header-body {
    padding: 5px;
    border-radius: 8px;
  }
  header {
    top: 14px;
  }
  .menu-mobile-actions {
    display: flex;
    gap: 15px;
    margin-top: 150px;
    gap: 15px;
    justify-content: center;
  }
  .section {
    margin-top: 120px;
  }
  .section-titles h2 {
    font-size: 24px;
    line-height: 120%;
  }
  .section-titles p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
  }
  .block-title {
    font-size: 18px;
    line-height: 120%;
  }
  .block-text {
    font-size: 16px;
    line-height: 22px;
  }
  .faq-item-icon {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
  }
  .faq-item-header h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
  .faq-sub-text {
    font-size: 14px;
    line-height: 20px;
  }
  footer .container {
    padding: 0;
  }
  .footer-cnt {
    margin: 22px 14px 0 14px;
  }
  .footer-logo {
    padding: 0 14px;
    max-width: 280px;
  }
  .footer-body {
    padding: 20px 0 80px 0;
  }
  .footer-menu ul {
    max-width: 263px;
    margin: 0 auto;
    gap: 15px;
  }
  .footer-menu {
    margin: 24px auto 0;
  }
  .footer-menu ul li a {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-policy {
    margin: 15px auto 0;
  }
  .footer-policy ul {
    flex-direction: column;
    gap: 10px;
  }
  .footer-text {
    margin: 10px auto 0;
    font-size: 12px;
    line-height: 16px;
  }
  .footer-cnt {
    margin-top: 22px;
    min-height: 292px;
    padding: 42px 40px;
  }
  .footer-policy ul li a {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-blur {
    top: -100px;
  }
  .footer-blur img {
    height: 600px;
  }
  .faq-item-header h3 {
    max-width: 264px;
  }
  .reviews-swiper .swiper-slide {
    padding: 0 12px;
  }
  .reviews-section .container {
    padding: 0;
  }
  .section-titles p {
    font-size: 14px;
    line-height: 22px;
  }
  .block-cnt {
    margin-top: 32px;
  }
  .section-clue {
    font-size: 14px;
    line-height: 130%;
    padding: 0 0 6px 0;
  }

  .footer {
    margin-top: 110px;
  }
  .hero-clue p {
    font-size: 13px;
    line-height: 130%;
    font-weight: 400;
  }
  .l-hero-img:nth-child(3) {
    max-width: 234px;
    width: 100%;
  }
  .l-hero-images {
    min-height: 234px;
    margin: 132px auto 0;
  }
  .l-hero-img:nth-child(2) {
    max-width: 146px;
  }
  .l-hero-img:nth-child(4) {
    max-width: 146px;
  }
  .l-hero-img p {
    display: none;
  }
  .hero-lamp {
    max-width: 56px;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero-cloud {
    top: 230px;
    right: 61px;
  }
  .hero-armchair {
     left: -14px;
    max-width: 180px;
    top: 280px;
  }
  .l-hero-img:nth-child(2) {
    top: 44px;
  }
  .l-hero-img:nth-child(4) {
    top: 44px;
  }
  .hero-polygon {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -70px;
    max-width: 84px;
  }
  .hero-bg {
    height: 140%;
  }
  .hero-table {
    max-width: 107px;
    right: 55px;
    top: 530px;
  }
  .l-hero-clue {
    padding: 10px 13px 10px 13px;
    border-radius: 7px;
    max-width: 151px;
    font-size: 10px;
    top: 570px;
    left: 29px;
  }
  .hero-section .container {
    padding: 0;
  }
 
  .l-possibilities-item-header span {
    font-size: 18px;
  }
  .l-possibilities-media {
    margin-top: 37px;
  }
  .l-possibilities-big-texts {
    margin-top: 37px;
  }
  .l-possibilities-small-texts .block-title {
    font-size: 16px;
    line-height: 22px;
  }
  .l-possibilities-column {
    gap: 10px;
  }
  .l-possibilities-small-wrapper {
    gap: 10px;
  }
  .l-possibilities-cnt {
    gap: 10px;
  }
  .l-possibilities-table {
    right: -255px;
  }
   .l-possibilities-big-item:nth-child(2) .l-possibilities-item-header {
    flex-direction: row-reverse;
  }
  
  .l-possibilities-average-item:nth-child(2) .l-possibilities-item-header {
    flex-direction: row-reverse;
  }
  .l-statistics-bg {
    position: initial;
  }
  .l-statistics-big-item {
    padding: 0;
    min-height: 345px;
  }
  .l-statistics-bg {
    border: 1px solid #c2ccf61f;
    border-radius: 10px;
  }
  .l-statistics-texts {
    padding: 0 20px;
    justify-content: center;
    margin-top: 10px;
  }
  .l-statistics-cnt {
    gap: 30px;
  }
  .l-statistics-small-item:nth-child(1) {
    flex-direction: column-reverse;
  }
  .l-statistics-small-picture {
    display: flex;
    position: absolute;
    bottom: 0;
    max-width: 229px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .l-statistics-texts {
    gap: 5px;
    margin-top: 0;
  }
  .l-statistics-texts h3 {
    font-size: 60px;
    line-height: 60px;
  }
  .l-statistics-texts p {
    font-size: 16px;
    line-height: 22px;
    max-width: 208px;
   
  }
  .l-statistics-texts:nth-child(1) p{
    max-width: 151px;
  }

  .l-statistics-big-item{
    gap: 10px;
  }
  .l-statistics-small-bg img{
    object-position: bottom;
  }
  .l-process-slide{
    min-height: 239px;
  }
  .k-trust-body{
    padding: 37px 0;
    min-height: 575px;
    
  }
  .l-hero-clue-mobile{
    display: block;
  }
  .k-trust-mobile-picture{
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;

  }
 
}

@media (max-width: 500px) {
   .k-trust-body{
    min-height: 470px;
  }
}

@media (max-width: 450px) {
     .k-trust-body{
    min-height: 443px;
  }
}

@media (max-width: 400px) {
     .k-trust-body{
    min-height: 413px;
  }
}
